extends layout

block content
  h2 Edit a lead source
  hr

  if messages.length !== 0
    .alert.alert-danger
      ul
        each message in messages
          li.validationError
            | #{message.msg}

  h3 Lead source phone number: #{leadSourcePhoneNumber}
  .row
    .col-lg-4
        form(name='editLeadSource', action='/lead-source/#{leadSourceId}/update', method='POST')
            .form-group
                label(for='description') Description:
                input(type='text', name='description', value=leadSourceDescription).form-control#description
            .form-group
                label(for='forwardingNumber') Forwarding number:
                input(type='text', name='forwardingNumber', value=leadSourceForwardingNumber).form-control#forwardingNumber
            input(type='submit', value='Update').btn.btn-primary
